/* Form */

.sectionForm {
  width: 80%;
  margin: 30px 120px;
  text-align: left;
  margin-top: 10%;
}

label {
  color: #6B7A8D;
  font-size: 17px;
}

#fullname {
  width: 100%;
  border: none; /* to delete margin's input */
  background-color: var(--colorbackform);
  height: 60px;
  margin-block-start: 10px;
  padding-left: 15px;
}

input {
  background: var(--colorbackform);
}

.email-phone {
  width: 100%;
  margin-top: 20px;
}

.containerEmailPhone-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.containerEmailPhone-flex div {
  width: 48%;
}

#email {
  margin-right: 10px;
  width: 100%;
  border: none; 
  background-color: var(--colorbackform);
  height: 60px;
  margin-block-start: 10px;
  padding-left: 15px;
}

#phone {
  width: 100%;
  border: none;
  background-color: var(--colorbackform);
  height: 60px;
  margin-block-start: 10px;
  padding-left: 15px;
  margin-left: auto; 
}
.email-phone {
  width: 100%;
  margin-block-end: 20px;
}

.message {
  width: 100%;
  height: 200px;
}

#message {
  width: 100%;
  border: none;
  background-color: var(--colorbackform);
  margin-block-start: 10px;
  padding-left: 15px;
  padding-top: 20px;
} 

.message p{
  margin-top: -0.1%;
}

.submitButtonDiv{
  margin-top: 65px;
  width: 100%;
}

.submitButton {
background-color: #072AC8;
  color:  #f2f4fc;
  padding: 10px 20px;
  width: 100%;
  height: 70px;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  border-style: none
}