
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  :root {
    --colorbackform: rgba(107, 112, 141, 0.1); /* this color === #6B7A8D 10% */
  }

  *,
  html,
  body {
      box-sizing: border-box;
      padding: 0;
      font-family: 'Roboto', sans-serif;
      font-size: 24;
      font-weight: medium;
  }

  h1 {
      font-size: 40px;
      font-weight: bold;
      color: #292E47;
  }
  h2 {
      font-size: 32px;
      font-weight: bold;
      color: #292E47;
  }
  h3 {
    font-size: 24px;
    font-weight: normal;
  }
  h4 {
    font-size: 20px;
    font-weight: 500;
  }

  body {
    background-color: #F2F4FC;
    color: #292E47;
  }

  /* Form */

  header {
    width: 80%;
    margin: 30px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .ul-flex {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-content: center;
  }

  .buttonStandard {
    background-color: #072AC8;
    color:  #f2f4fc;
    padding: 10px 20px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    border-style: none;
    font-size: 14px;
    text-decoration: none;
    align-items: center;
    text-align: center;
  }

  /* Hero */

  .sectionHero {
      margin: 30px 120px;
      width: 80%;
  }

  .containerHero-flex {
      display: flex;
      width: 100%;
      height:max-content;
      align-items:center;
      justify-content: space-between;
  }

  .heroText {
      width: 40%;
  }

  .heroImages {
    width: 50%;
  }

  .heroImagesBackground {
    position: relative;
    background-image: url("/Resources/hero-section/hero-image.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 520px;
    width: 420px;
  }

  .heroText :nth-child(4) {
    margin-left: 25px;
  }

.heroImages img {
    width: 62%;
    height: auto;
    padding: none;
  }

.heroImages img.creditImg {
    position: absolute;
    top: 3%;
    left: -15%;
  }
  
  .heroImages img.emojiImg {
    position: absolute;
    bottom: -14%;
    right: -15%;
  }

  /* Clients Bar */

  .clientsBar {
    width: 80%;
    margin: 30px 120px;
    margin-top: 7%;
  }

  .containerClients-flex {
    display: flex;
    justify-content: space-between;
  }

  .clientsBar img {
    filter: grayscale(100%); 
  }
  
  /* Projects Index */
  
  .sectionProjects {
    margin: 30px 120px;
    margin-top: 14%;
    width: 80%
  }

  .containerPojects-flex {
    display: flex;
    width: 100%;
    height:max-content;
    align-items:center;
    justify-content: space-between;
    margin-top: 5%;
  }

  .simplify, .dashcoin, .vectorify {
    position: relative;
    background-color: white;
    width: 260px;
    height: 350px;
    box-shadow: inset;
  }

  .simplify {
    background-image: url(/Resources/projects-section/1.jpg);
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: top; 
  }

  .dashcoin {
    background-image: url(/Resources/projects-section/2.jpg);
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: top; 
  }

  .vectorify{
    background-image: url(/Resources/projects-section/3.jpg);
    background-size: 114.5%; 
    background-repeat: no-repeat; 
    background-position: top; 
  }

  .simplify h4,
  .dashcoin h4,
  .vectorify h4 {
    position: absolute;
    top: 55%; 
    transform: translateY(-50%); /* ajuste posición con respecto al eje y para que el bloque esté centrado */
    left: 20px;
  }
  
  .simplify p,
  .dashcoin p,
  .vectorify p {
    font-size: 20;
    position: absolute;
    top: 70%; 
    transform: translateY(-50%); /* ajuste posición con respecto al eje y para que el bloque esté centrado */
    left: 20px;
  }

  .simplify a,
  .dashcoin a,
  .vectorify a {
    position: absolute;
    bottom: 8%; 
    left: 20px;
  }
  
  /* Testimonial */

  .testimonial {
    margin-top: 12%;
    margin-left: 2.5%;  /* aqui hay que revisar esto, yo deberia poder centrar todo esta seciton y tengo que hacer un ajuste en el margen */
    width: 95%;
    background-color: #292E47;
    background-image: url(../Resources/testimonial-section/orbit.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
  }

  .emoji-1,
  .emoji-2,
  .emoji-3,
  .emoji-4 {
    width: 120px;
  }

  .emoji-1 {
    position: absolute;
    top: 40px; 
    left: 40px;
  }

  .emoji-2 {
    position: absolute;
    top: 40px; 
    right: 40px;
  }

  .emoji-3 {
    position: absolute;
    bottom: 40px; 
    left: 40px
  }

  .emoji-4 {
    position: absolute;
    bottom: 40px; 
    right: 40px;
  }

  .testimonialCenter-flex {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 500px;
    justify-content: space-evenly;
  }
  
  .testimonial h1 {
    color: #F2F4FC;
  }
  
  .testimonial h3 {
    color: #ffc600;
    text-align: center;
  }

  .testimonialProfile img {
    width: 50px;
    height: 45px;
    border-radius: 50%;
  }

  .testimonialProfile {
    display: flex;
    align-items: center;
  }

  .testimonialProfile p {
    margin: 5px 0;
  }

  .testimonialProfile img {
    margin-right: 10px;
  }

  .testimonialProfile p:first-child{
   color: #A2D6F9;
  }
  
  .testimonialProfile p:nth-child(2){
    color: #F2F4FC;
   }
   
   /* Services */
   
   .sectionServices {
    margin: 30px 120px;
    margin-top: 14%;
    width: 80%
   }

   .serviceImage {
    background-color: #ECF7FF;
    border-radius: 50%;
    margin: 20px;
    width: 60px;
    height: 60px;
    padding: 10px;
  }
  
  .serviceImage img {
    background-color: #ECF7FF;
  }

   .containerServices-flex {
    display: flex;
    width: 100%;
    height:max-content;
    align-items:center;
    justify-content: space-between;
    margin-top: 5%;
  }

  .ui, .ux, .ad {
    position: relative;
    background-color: white;
    width: 260px;
    height: 315px;
    box-shadow: inset;
  }

  .ui h4,
  .ux h4,
  .ad h4 {
    position: absolute;
    top: 40%; 
    transform: translateY(-50%); 
    left: 20px;
    margin-top: 0;
  }
  
  .ui p,
  .ux p,
  .ad p {
    font-size: 20;
    position: absolute;
    top: 55%; 
    transform: translateY(-50%);
    left: 20px;
    right: 20px;
    text-align: justify;
  }

  .ui a,
  .ux a,
  .ad a {
    position: absolute;
    bottom: 8%; 
    left: 20px;
  }

 /* Subscribe Form */

  .sectionSubscribe {
    margin-top: 12%;
    margin-left: 2.5%;  /* aqui hay que revisar esto, yo deberia poder centrar todo esta seciton y tengo que hacer un ajuste en el margen */
    width: 95%;
    background-color: #ffc600;
    height: 400px;
    justify-content: center;
  }

  .sectionSubscribe h4 {
    margin-top: -1%;

  }

  .containerSubscribe-flex {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 400px; 
  }

  .buttonStandard-2 {
    margin-left: 8px;
    background-color: #072AC8;
    color:  #f2f4fc;
    padding: 10px 20px;
    width: 140px;
    height: 60px;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    border-style: none
  }
  
  .subscribeButton input {
    background-color: #f2f4fc;
    width: 350px;
    height: 60px;
    padding-left: 15px;
  }
  
 /* footer */

.sectionFooter {
  margin: 30px 120px;
  margin-top: 14%;
  width: 80%;
  height: 100px;
}

.sectionFooter img {
  height: 30px;
}

.containerFooter-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.linksFooter-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.linksFooter-flex li {
    list-style: none;
    flex: 0 32%;
    height: 60px;
}
   
@media (max-width: 748px){ /* Responsive Ipad Mini */

  /* Responsive header */

  header {
    width: 80%;
    margin-left: 10%;
  }
  header img{
    display: none;
  }
  .ul-flex {
    width: 100%;
    justify-content: flex-start;
  }
  .ul-flex li {
    margin-right: 60%;
  }
  header .buttonStandard {
    font-size: 10px;
    margin-left: -9%;
    width: 120px;
  }

  /* Responsive Hero Section*/

  .sectionHero {
    width: 80%;
    margin-left: 10%;
    margin-top: -20%;
  }
  .heroText{
    width: 120%;
  }

  .heroText h1 {
    font-size: 25px;
  }

  .heroText p {
    font-size: 16px;
  }
  
  .creditImg,
  .emojiImg {
    display: none;
  }

  .heroImagesBackground {
    width: 50%;
  }

  .clientsBar {
    width: 80%;
    margin-left: 10%;
    margin-top: -15%;
  }

  .containerClients-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.clientsBar :nth-child(4) {
    display: none;
  }

  /* Responsive Projects */

  .sectionProjects{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
  }
  .sectionProjects h2 {
    text-align: center; 
    margin: 0 auto;
  }

  .containerPojects-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .containerPojects-flex div {
    margin-bottom: 30px;
  }

  /* Responsive Testimonial */

  .testimonial {
    height: 350px;
    margin-top: 5%;
  }

.emoji-1,
.emoji-2,
.emoji-3,
.emoji-4 {
  display: none;
}

.testimonialCenter-flex{
  height: 350px;
}

.testimonialCenter-flex h1{
  font-size: 30px;
}

.testimonialCenter-flex h3{
  font-size: 20px;
}

 /* Responsive Services */

 .sectionServices{
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}
.sectionServices h2 {
  text-align: center; 
  margin: 0 auto;
}

.containerServices-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.containerServices-flex div{
  margin-bottom: 30px;
}

  /* Responsive Testimonial */

.sectionSubscribe {
  height: 300px;
  margin-top: 5%;
}

.containerSubscribe-flex {
  height: 300px;
}

.containerSubscribe-flex h2{
  font-size: 25px;
}

.containerSubscribe-flex h4{
  font-size: 17px;
}

 /* Responsive Footer */

.sectionFooter {
  width: 80%;
  margin-left: 10%;
}

.sectionFooter p{
 font-size: 8px;
}
}