/* Simplify */

.sectionSimplify {
  margin: 30px 120px;
  margin-top: 14%;
  width: 80%
}

#image-Pdata{
  margin-top: 5%;
  width: 100%;
  height: 350px;
}

#content-Pdata {
  margin-top: 4%;
  font-size: 20px;
  font-weight: lighter;
  color: #6B708D;
  text-align:center;
}

#description-Pdata{
  font-size: 24px;
  color: #6B708D;
}

#compleated-Pdata {
  font-size: 20px;
  font-weight: lighter;
  color: #6B708D;
}

.containerSimplify-flex {
  display: flex;
  align-items: center; 
}

.containerSimplify-flex p {
  margin-right: auto; /* con esto logro mover el párrafo totalmente a la izquierda */
}

.containerSimplify-flex span {
  margin-left: 5px;
}

/* Other Projects */

.sectionOtherProjects {
  margin: 30px 120px;
  margin-top: 10%;
  width: 80%
}

.containerOtherPojects-flex {
  display: flex;
  width: 100%;
  height:max-content;
  align-items:center;
  justify-content: space-between;
  margin-top: 5%;
}

.orbit, .purify, .cryptopie {
  position: relative;
  background-color: white;
  width: 260px;
  height: 350px;
  box-shadow: inset;
}
.orbit {
  background-image: url(/Resources/projects-section/4.jpg);
  background-size: 114%; 
  background-repeat: no-repeat; 
  background-position: top; 
}

.purify {
  background-image: url(/Resources/projects-section/5.jpg);
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: top; 
}

.cryptopie {
  background-image: url(/Resources/projects-section/6.jpg);
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: top; 
}

.orbit h4,
.purify h4,
.cryptopie h4 {
  position: absolute;
  top: 55%; 
  transform: translateY(-50%); /* ajuste posición con respecto al eje y para que el bloque esté centrado */
  left: 20px;
}

.orbit p,
.purify p,
.cryptopie p {
  font-size: 20;
  position: absolute;
  top: 70%; 
  transform: translateY(-50%); /* ajuste posición con respecto al eje y para que el bloque esté centrado */
  left: 20px;
}

.orbit a,
.purify a,
.cryptopie a {
  position: absolute;
  bottom: 8%; 
  left: 20px;
}
